:host {
  display: block;
  flex: 1 1 auto;

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .hotkey {
      display: flex;
      color: var(--white-a50);
      cursor: default;

      &:not(:last-child) {
        margin-bottom: 5px;
      }

      .hotkey--key {
        background-color: var(--darkest);
        border-radius: 5px;
        padding: 5px;
        border: 1px solid var(--white-a20);
        border-bottom: 3px solid var(--white-a20);
        margin-right: 3px;
        min-width: 15px;
        text-align: center;
      }

      .hotkey--description {
        margin: auto 5px;
      }
    }
  }
}
