@import '../../../styles/variables';

:host {
  -webkit-user-select: none;
  -webkit-app-region: drag;

  display: block;
  width: 100%;
  background-color: transparent;
  height: $titlebar-height;
}
