<div class="left">
  <div class="luc-actionbar--item">
    <uni-icon
      icon="mdi-close-circle-outline"
      [uniBadge]="errors"
      [uniBadgeDisabled]="errors === 0"
      uniBadgeSize="sm"
      uniBadgePosition="top right"
      uniBadgeColor="danger"
    ></uni-icon>
  </div>

  <div
    class="luc-actionbar--item clickeable"
    (click)="minify.emit(active)"
  >
    <uni-icon
      icon="mdi-format-align-justify"
      uniTooltip="Minify"
      uniTooltipPosition="top"
    ></uni-icon>
  </div>

  <div
    class="luc-actionbar--item clickeable"
    (click)="beautify.emit(active)"
  >
    <uni-icon
      icon="mdi-format-align-right"
      uniTooltip="Beautify"
      uniTooltipPosition="top"
    ></uni-icon>
  </div>
</div>

<div class="spacer"></div>

<div class="right">
  <div class="luc-actionbar--item">
    Chars {{ length }}
  </div>
  <div class="luc-actionbar--item">
    Lines {{ lines }}
  </div>
  <div class="luc-actionbar--item">
    Ln {{ cursor?.line + 1 }}, Col {{ cursor?.ch + 1 }}
  </div>
</div>
