@import '../../../styles/variables';

:host {
  height: $titlebar-height;
  background-color: var(--primary);
  display: flex;

  .spacer {
    flex: 1 1 auto;
  }

  .left,
  .right {
    margin: auto;
    display: flex;
  }

  .luc-actionbar--item {
    font-size: 0.8em;
    padding: 0 5px;
    cursor: default;

    &.clickeable {
      cursor: pointer;
    }

    uni-icon {
      font-size: 1rem;
    }
  }
}
