<luc-titlebar
  *ngIf="(systemService.isMac$ | async)"
></luc-titlebar>

<luc-files-tab-group
  [mac]="systemService.isMac$ | async"
  [active]="fileService.active$ | async"
  [ids]="fileService.ids$ | async"
  [files]="fileService.files$ | async"
  (edit)="onEdit($event)"
  (activate)="onActivate($event)"
  (remove)="onRemove($event)"
  (grid)="onGrid($event)"
  (cursorChange)="onCursorChange($event)"
  (clipboard)="onClipboard($event)"
  (save)="onSave($event)"
></luc-files-tab-group>

<luc-actionbar
  *ngIf="fileService.active$ | async; let active"
  [active]="active"
  [cursor]="editorService.cursor$ | async"
  [lines]="fileService.lines$ | async"
  (minify)="onFormat($event, false)"
  (beautify)="onFormat($event, true)"
></luc-actionbar>
