<luc-titlebar
  *ngIf="(systemService.isMac$ | async)"
></luc-titlebar>

<luc-files-tab-group
  [active]="fileService.active$ | async"
  [paths]="fileService.paths$ | async"
  [files]="fileService.files$ | async"
  (edit)="onEdit($event)"
  (activate)="onActivate($event)"
  (remove)="onRemove($event)"
  (tree)="onTree($event)"
  (cursorChange)="onCursorChange($event)"
></luc-files-tab-group>

<luc-actionbar
  *ngIf="fileService.active$ | async"
  [cursor]="editorService.cursor$ | async"
></luc-actionbar>
