.luc-files-tab-group {
  display: block;
  flex: 1;
  min-height: 0;

  uni-tab-group {
    height: 100%;

    uni-tab-label {
      &.active {
        background-color: #090300;
      }
    }

    .uni-split {
      height: 100%;
    }
  }
}
