.luc-files-tab-group {
  display: block;
  flex: 1;
  min-height: 0;

  uni-tab-group {
    height: 100%;

    uni-tab-label {
      &.active {
        background-color: var(--theme-dark);
      }
    }

    .uni-split {
      height: 100%;
    }
  }
}
