<uni-tab-group [(active)]="tab" (activeChange)="onTabChange($event)">
  <uni-tab *ngFor="let path of paths">
    <ng-template uniTabLabel>
      <div class="uni-ellipsis tab-label">{{ files[path]?.name }}</div>
      <uni-icon
        class="close-icon"
        icon="mdi-close"
        [class.active]="path === active"
        (click)="onClose(path)"
      ></uni-icon>

      <uni-icon
        *ngIf="files[path]?.dirty"
        class="dirty-icon"
        icon="mdi-checkbox-blank-circle"
      ></uni-icon>
    </ng-template>

    <ng-template uniTabBody>
      <uni-horizontal-split flex="0 0 75%">
        <uni-split-area>
          <uni-vertical-split flex="0 0 75%">
            <uni-split-area [uniContextMenu]="ctxMenuTpl">
              <luc-json-editor
                [ngModel]="files[path]?.text"
                (ngModelChange)="onTextChange($event)"
                (cursorChange)="cursorChange.emit($event)"
              ></luc-json-editor>
            </uni-split-area>
            <uni-split-area *ngIf="files[path]?.visible?.tree">
              <uni-scroll>
                <uni-json-tree [json]="files[path]?.json"></uni-json-tree>
              </uni-scroll>
            </uni-split-area>
          </uni-vertical-split>
        </uni-split-area>
        <uni-split-area *ngIf="files[path]?.visible?.schema || files[path]?.visible?.typescript">
          <uni-vertical-split>
            <uni-split-area *ngIf="files[path]?.visible?.schema">
              <uni-scroll>
                <uni-json-tree [json]="files[path]?.schema"></uni-json-tree>
              </uni-scroll>
            </uni-split-area>
            <uni-split-area *ngIf="files[path]?.visible?.typescript">
              <uni-scroll>
                <uni-code language="typescript" [code]="files[path]?.typescript"></uni-code>
              </uni-scroll>
            </uni-split-area>
          </uni-vertical-split>
        </uni-split-area>
      </uni-horizontal-split>
    </ng-template>
  </uni-tab>
</uni-tab-group>

<ng-template #ctxMenuTpl>
  <uni-option (click)="onTree()">Tree</uni-option>
  <uni-option (click)="onSchema()">Schema</uni-option>
  <uni-option (click)="onTypescript()">Interface</uni-option>
</ng-template>
