<uni-tab-group [(active)]="tab" (activeChange)="onTabChange($event)">
  <uni-tab *ngFor="let id of ids">
    <ng-template uniTabLabel>
      <div
        class="uni-ellipsis tab-label"
        [class.new]="!files[id]?.path"
      >
        {{ files[id]?.name || 'New File' }}
      </div>

      <uni-icon
        class="close-icon"
        icon="mdi-close"
        [class.active]="id === active"
        (click)="onClose(id)"
      ></uni-icon>

      <uni-icon
        *ngIf="files[id]?.dirty"
        class="dirty-icon"
        icon="mdi-checkbox-blank-circle"
      ></uni-icon>
    </ng-template>

    <ng-template uniTabBody>
      <uni-horizontal-split flex="0 0 75%" [uniContextMenu]="ctxMenuTpl">
        <uni-split-area *ngIf="files[id]?.grid?.editor || files[id]?.grid?.tree">
          <uni-vertical-split flex="0 0 75%">
            <uni-split-area *ngIf="files[id]?.grid?.editor">
              <luc-json-editor
                focus
                [ngModel]="files[id]?.text"
                (ngModelChange)="onTextChange($event)"
                (cursorChange)="cursorChange.emit($event)"
              ></luc-json-editor>
            </uni-split-area>
            <uni-split-area *ngIf="files[id]?.grid?.tree">
              <uni-scroll>
                <uni-json-tree
                  [json]="files[id]?.json"
                  (propertyValueClick)="onPropertyValueClick($event)"
                ></uni-json-tree>
              </uni-scroll>
            </uni-split-area>
          </uni-vertical-split>
        </uni-split-area>
        <uni-split-area *ngIf="files[id]?.grid?.schema || files[id]?.grid?.typescript">
          <uni-vertical-split>
            <uni-split-area *ngIf="files[id]?.grid?.schema">
              <uni-scroll>
                <uni-json-tree
                 [json]="files[id]?.schema"
                 (propertyValueClick)="onPropertyValueClick($event)"
                ></uni-json-tree>
              </uni-scroll>
            </uni-split-area>
            <uni-split-area *ngIf="files[id]?.grid?.typescript">
              <uni-scroll>
                <uni-code
                  language="typescript"
                  [code]="files[id]?.typescript"
                ></uni-code>
              </uni-scroll>
            </uni-split-area>
          </uni-vertical-split>
        </uni-split-area>
      </uni-horizontal-split>
    </ng-template>
  </uni-tab>
</uni-tab-group>

<ng-template #ctxMenuTpl>
  <uni-option (click)="toggleGrid('editor')">
    <uni-icon icon="mdi-keyboard"></uni-icon>
    Editor
    <uni-icon *ngIf="files[active]?.grid?.editor" class="check-icon" icon="mdi-check"></uni-icon>
  </uni-option>

  <uni-option (click)="toggleGrid('tree')">
    <uni-icon icon="mdi-file-tree"></uni-icon>
    Tree
    <uni-icon *ngIf="files[active]?.grid?.tree" class="check-icon" icon="mdi-check"></uni-icon>
  </uni-option>

  <uni-option (click)="toggleGrid('schema')">
    <uni-icon icon="mdi-code-json"></uni-icon>
    Schema
    <uni-icon *ngIf="files[active]?.grid?.schema" class="check-icon" icon="mdi-check"></uni-icon>
  </uni-option>

  <uni-option (click)="toggleGrid('typescript')">
    <uni-icon icon="mdi-code-tags"></uni-icon>
    Typescript
    <uni-icon *ngIf="files[active]?.grid?.typescript" class="check-icon" icon="mdi-check"></uni-icon>
  </uni-option>
</ng-template>
